@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: rgb(42, 74, 189);
    --primary-color-darker: rgb(85, 112, 84);
    --yellow: #ffda21;
}

body {
    background: var(--primary-color);
    font-family: "Poppins", sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;

}
/*SECTION-CONTEINER*/
.container {
    width: min(100dvw - 2rem, 96rem);
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

.container_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya SC', serif;
    margin-bottom: 1em;

    color: var(--yellow);
    font-size: 3rem;

}

.watch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: white;
    height: 10rem;
    border-radius: 20px;
}

h2 {
    font-size: 3em;
    font-weight: 400;
    height: 50px;
    width: 335px;
}

h2.paused {
    color: rgb(99, 83, 83);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0; /*OR PADDING*/
}

.buttons button {
    font-family: 'inter';
    font-weight: 900;
    margin: 10px; /*OR FLEX WITH GAP*/
    margin-top: 1.2em;
    border: none;
    padding: 15px 30px; /*TAMANHO E LARGURA*/
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 9px;
    box-shadow: 2px 2px red;
    cursor: pointer;
}
/*SECTION-CONTEINER*/

/*FOOTTER*/
.l_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom:0;
    padding:0;
}

.footer__text{
    font-family: 'Alegreya SC', serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
}

.footer__text span{
    color: antiquewhite;
}

.icons_footer ul{
    display: flex;
    gap: 2em;

    list-style: none;
    padding: 1em;
}

li{
    opacity: 3.0;
}
li:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 767px) {
    .footer__text {
        font-size: 1rem;
        margin-left: 5px ;
        margin-right: 5px ;
        text-align: center;
    }
}
/*FOOTTER*/

/*RESPONSIVIDADE*/
@media only screen and (max-width:768px) {
    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
    }

    @media only screen and (max-width: 767px) {
        .watch {
            width: auto;
            font-size: 2.5rem;
          height:2.5em;
        }
    }

    @media only screen and (max-width: 767px) {
        .watch h2 {
            width: auto;
            font-size: 2.5rem;
            text-align: center;
            height: 20%;
        }
    }
/*RESPONSIVIDADE*/
